$border-color: #3f51b5;

.chart-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.chart-content {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.chart-title {
  padding: 10px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}
