$search-item-color: rgb(175, 175, 175);
$search-item-border-color: rgb(86, 86, 86);

.search-user-container {
  position: relative;

  .search-user-input {
    border: none;
    outline: none;
    border: 1px solid;
    border-color: #000;
  }
}

.dark-theme {
  .search-user-input {
    background: initial;
    color: $search-item-color;
    border-color: $search-item-border-color;
  }
}

.search-user-input {
  padding: 0 30px;
  height: 30px !important;
}

.search-icon {
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  position: absolute;
}
